@font-face {
  font-family: "Open Sans", sans-serif;
  src: url('fonts/OpenSans-Bold.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url('fonts/OpenSans-Regular.woff');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0; 
  padding: 0;
}

.header {
  min-height: 100vh;
  display: flex;
  position: relative;
  background-image: url("../img/football_767.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1b1d3f;
}

.header:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #1b1d3f;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
}

.header-container {
  position: relative;
  z-index: 2;
  padding: 32px 20px 0 20px;
  margin-left: auto;
  margin-right: auto;
  /* нужно подбирать*/
  min-width: 280px;
  max-width: 360px;
  /* нужно подбирать*/
}

.header-logo {
  fill: #ffffff;
  width: 135px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 23vh;
}

.header-slogan {
  font-family: "Open Sans";
  font-size: 28px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15vh;
}

.collage-sports {
  display: block;
  padding-left: 1.5em;
}

.button {
  display: flex;
  justify-content: center;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 2.5vw;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #5e42b0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  padding: 1em 0;
  text-decoration: none;

  align-items: center;
}

.app-store,
.google-play {
  width: 6vw;
  margin-right: 10px;
  fill: #ffffff;
}

.google-play-link,
.app-stor-link {
  font-weight: 700;
}

.button-text {
  margin: 0;
}

.button:last-child {
  margin-top: 15px;
}

.header-athlets {
  font-family: "Open Sans";
  font-size: 50px;
  color: #c1c1c1;
  text-transform: uppercase;
  margin: 0;
  padding-left: 20px;
  margin-top: 20px;
  /* как вариант ограничиваем размер*/
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  /* как вариант ограничиваем размер*/
}

.photo-basketball {
  max-width: 302px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.photo-football {
  width: 192px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.football {
  position: absolute;
}

.basketball {
  position: absolute;
}

.paragraph-section {
  font-family: "Open Sans";
  font-weight: 700;
  padding: 2em 20px 2em 20px;
}

.paragraph-section:nth-child(1) {
  background-color: #fafafa;
}

.paragraph-section:nth-child(2) {
  background-color: #f5f4f9;
}

.paragraph-section:nth-child(3) {
  background-color: #5e42b0;
  color: #ffffff;
}

/* как вариант*/
.header-content {
  display: flex;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.text-block {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}
/* как вариант*/

.main-text {
  max-width: 360px;
}

.number {
  font-size: 14px;
  align-self: center;
  color: black;
}

.number::after {
  content: "";
  display: flex;
  border: 2px solid #5e42b0;
  border-radius: 50px;
}

.header_paragraph {
  font-size: 23px;
  color: #c1c1c1;
  text-transform: uppercase;
  padding-left: 10px;
}

/* нужно придумать как упростить*/
.number-three::after {
  content: "";
  display: flex;
  border: 2px solid #ffffff;
  border-radius: 50px;
}
/* нужно придумать как упростить*/

.paragraph-container {
  padding-top: 230px;
}

.section-color-darck {
  background-color: #090c35;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
  padding: 2em 20px 2em 20px;
}

.section-color-darck .number {
  color: #ffffff;
}

.container-number {
  width: 70px;
  height: 70px;
  background-color: #5e42b0;
  position: relative;
  margin-top: -62px;
}

.number-two-container {
  font-size: 14px;
  align-self: center;
  color: #ffffff;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 16px / 2);
  top: calc(50% - 51px / 2);
}

.number-two-container::after {
  content: "";
  display: flex;
  border: 2px solid #8f7bc8;
  border-radius: 50px;
}

.paragraph-two-container {
  font-family: "Open Sans";
  padding: 0px 20px;
  margin-left: auto;
  margin-right: auto;
  min-width: 280px;
  max-width: 360px;
}

.header-chapter_two {
  font-size: 28px;
  color: #c1c1c1;
  text-transform: uppercase;
  font-weight: 700;
}

.text-chapter_two {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 76px;
}

.footer {
  min-height: 100vh;
  display: flex;
  position: relative;
  background-image: url("../img/game_767.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1b1d3f;
}

.footer:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #081640;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
}

.footer-container {
  position: relative;
  z-index: 2;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  min-width: 280px;
  max-width: 360px;
}

.footer-icon {
  display: flex;
  justify-content: center;
  background-color: #5e42b0;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 72px;
  height: 74px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17vh;
  margin-bottom: 10vh;
  text-align: center;
}

.icon {
  fill: #ffffff;
  width: 80%;
}

.footer-header {
  font-family: "Open Sans";
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 13vh;
}

.footer-slogan {
  font-size: 32px;
  color: #ffffff;
  font-weight: 700;
  margin: 0;
}

.footer-text {
  font-size: 14px;
  color: #9b8ec1;
  font-weight: 400;
  margin: 0;
}

.footer-logo {
  fill: #ffffff;
  width: 135px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

@media (min-width: 641px) and (max-width: 960px) {
 
   /*header*/
.header-container {
  max-width: 768px;
  padding: 2.5em 2em 0 2em;
}

.header-logo {
  width: 200px;
  margin-bottom: 170px;
}
  
.header-slogan {
  font-size: 56px;
  margin-bottom: 270px;
  margin-left: 0.5em;
}

.heder-button {
  display: flex;
  padding: 0 3.5vw;
}
  
.button {
  width: 50%;
  font-size: 14px;
}
  
.button:last-child {
  margin-top: 0px;
  margin-left: 30px;
}
  
.app-store,
.google-play {
  width: 45px;
}

  /*//header*/
 
  /* раздел-1*/
.header-athlets {
  padding-left: 0px;
  font-size: 80px;
  padding-left: 38vw;
  max-width: 768px;
}

.photo-football {
  width: 100%;
}

.football {
  height: 560px;
  left: -55px;
  top: -40px;
}

.paragraph-container {
  padding-top: 0px;
}

.paragraph-section,
.section-color-darck {
  padding: 2.5em 2em 1em;
}

.header-content {
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 34vw;
}

.header_paragraph {
  font-size: 32px;
  margin: 0;
}

.text-block {
  font-size: 16px;
  padding-left: 34vw;
  max-width: 768px;
}

.section-color-darck .text-block {
  font-size: 18px;
}

.main-text {
  max-width: 55vw;
}

.section-container-two .header-athlets {
  padding: 0 0.4em;
}

.section-container-two .header-content {
  padding-left: 0;
}

.section-container-two .text-block  {
  padding-left: 0;
}

.photo-basketball {
  max-width: 100%;
}

.basketball {
  height: 500px;
  right: 0;
  top: -60px;
}
  /*//раздел-1*/
  
  /* раздел-2*/
  .container-number {
    width: 115px;
    height: 115px;
    margin-top: -90px;
  }
  
  .number-two-container {
    font-size: 24px;
    left: calc(50% - 26px / 2);
    top: calc(50% - 85px / 2);
  }
  
  .paragraph-two-container {
    max-width: 768px;
    padding: 0px 2em;
  }
  
  .header-chapter_two {
    font-size: 76px;
    margin-top: 50px;
    margin-bottom: 35px;
  }
  
  .text-chapter_two {
    font-size: 24px;
  }
  /*// раздел-2*/
  
  /*footer*/
  .footer-container{
    width: 100%;
    max-width: 768px;
    padding: 0px 2em;;
  }

  .footer-icon {
    width: 130px;
    height: 135px;
    margin-top: 13vh;
    margin-bottom: 8vh;
  }

  .footer-header {
    margin-bottom: 30vh;
  }

  .footer-slogan {
    font-size: 68px;
    line-height: 1.2;
  }
    
  .footer-text {
    font-size: 30px;
  }

  .footer-logo {
    width: 205px;
    margin-top: 5vh;
  }
}

@media (min-width: 768px) and (max-width: 960px) {

  .header-slogan {
    font-size: 64px;
  }

  .header-chapter_two {
    font-size: 80px;
  }

  .footer-slogan {
    font-size: 80px;
    letter-spacing: 3.2px;
  }
    
  .footer-text {
    font-size: 36px;
  }

  .football {
    height: auto;
    left: -80px;
  }

  .basketball {
    height: auto;
  }

}
  